.detalhar-colaborador {
    width: 40%;
    margin: 50px auto;
    position: relative;
}

.detalhar-colaborador .cabecalho {
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6278f7;
}

.detalhar-colaborador .foto {
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.detalhar-colaborador .excluir {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
    border-radius: 100%;
    padding: 2px;
}

.detalhar-colaborador .editar {
    width: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    visibility: hidden;
    border-radius: 100%;
}

.detalhar-colaborador:hover {

    .excluir,
    .editar {
        visibility: visible;
    }
}

.detalhar-colaborador .rodape {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
    padding-bottom: 1px;
    padding: 30px;
    position: relative;
    flex-direction: column;
}

.detalhar-colaborador .rodape h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #6278f7;
    margin: auto;
    margin-bottom: 20px;
}

.detalhar-colaborador .rodape p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    margin: 15px 0px;
}