.pagina-base .conteudo {
    min-height: 668px;
    background-image: url(../../../images/fundo.png);
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}