.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.perfil .mensagem {
    font-size: 35px;
    color: #6278f7;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}