.perfil {
    align-items: center;
    display: block;
    justify-content: space-around;
    width: 100%;
}

.perfil .mensagem {
    font-size: 35px;
    color: #6278f7;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}