.botao {
    background-color: #6278F7;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0px;
    height: 80px;
    font-style: normal;
    line-height: 22px;
    align-items: center;
    text-align: center;
    }

.botao:hover {
    color: #95FFD4;
}