.formularioCadastroEquipe {
    display: block;
    justify-content: center;
    margin: 80px 0px 0px 0px;
}

.formularioCadastroEquipe form {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    margin: auto;
    margin-bottom: 50px;
    width: 700px;
}

.formularioCadastroEquipe h2 {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
}

.formularioCadastroEquipe .cores {
    display: flex;
    align-items: center;
    justify-content: space-around;
}